.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70vh auto;
  margin-bottom: 160vh;
  height: 100vh;
  #project-title {
    color: #5eb93e;
    font-size: 1rem;
    padding-bottom: 20px;
  }
  #project-thumbnail {
    border: solid rgb(38, 42, 48) 10px;
    box-shadow: 0 0px 10px #5eb93e;
    max-width: 300px;
  }
  #screenshot-gallery {
    width: 100%;
    text-align: center;
    .project-screenshot {
      box-shadow: 0 0px 10px #5eb93e;
      border: solid rgb(38, 42, 48) 10px;
      margin: 5px;
      width: 65%;
    }
  }
  #project-description {
    line-height: 2rem;
    letter-spacing: 0.03rem;
    width: 80%;
    color: white;
    font-size: 0.8em;
    padding: 10px;
  }
}

//Tablets
@media (min-width: 700px) {
  .project-container {
    margin-bottom: 100vh;
    #project-title {
      font-size: 1.5rem;
    }
    #project-thumbnail {
      max-width: 70vw;
    }
    #screenshot-gallery {
      .project-screenshot {
        width: 200px;
      }
    }
    #project-description {
      width: 80%;
      font-size: 0.8rem;
    }
  }
}

//Laptops
@media (orientation: landscape) and (min-width: 1000px) {
  .project-container {
    margin-bottom: 100vh;
    #project-title {
      font-size: 1.2rem;
    }
    #project-thumbnail {
      max-width: 50vw;
    }
    #screenshot-gallery {
      .project-screenshot {
        width: 200px;
      }
    }
    #project-description {
      width: 80%;
      font-size: 0.8rem;
    }
  }
}

//Desktop
@media (min-width: 1200px) {
  .project-container {
    margin-bottom: 100vh;
    #project-title {
      font-size: 1.2rem;
    }
    #project-thumbnail {
      width: 60vw;
    }
    #screenshot-gallery {
      .project-screenshot {
        width: 200px;
      }
    }
    #project-description {
      width: 60%;
      font-size: 0.8rem;
    }
  }
}
